[submodule "roles/borgbackup"]
	path = roles/borgbackup
	url = https://github.com/borgbase/ansible-role-borgbackup.git
[submodule "inventory"]
	path = inventory
	url = git@git.lino.pw:linozen/ansible-inventory.git
[submodule "roles/unattended-upgrades"]
	path = roles/unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades.git
[submodule "roles/firewall"]
	path = roles/firewall
	url = https://github.com/geerlingguy/ansible-role-firewall.git
[submodule "roles/gitea"]
	path = roles/gitea
	url = https://github.com/thomas-maurice/ansible-role-gitea.git
